  
  
  
  <!-- Container for sidebar(s) + page content -->
  <!--<ng-sidebar-container> 
     
    <div ng-sidebar class="ng-sidebar">
     <ng-sidebar [(opened)]="_opened" [mode]="'push'">
       <app-protocol></app-protocol>
      </ng-sidebar>
    </div>

    <div ng-sidebar-content class="container" >
    <div style="margin-top: 40px">
      <app-alert></app-alert>
    </div>
        <h1 class= "text-center"> <ion-button class="enmu" disabled>ENMU</ion-button> </h1>       
        <div>
          <div>
          </div>
        </div>
        <div>
            <div>
                <router-outlet></router-outlet>
              </div>
      </div>
      </div>
  </ng-sidebar-container>-->
  <ion-menu type="overlay" side="start" menuId="first" color="primary" content-id="pages">
    <div (clickOutside)="onClickOutside()">
      <app-protocol></app-protocol>
    </div>
    </ion-menu>

  <div content-id="pages">
    <ion-header>
      <ion-toolbar color="primary" class="text-center">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button color="secondary" shape="round" class="enmu" disabled>ENMU</ion-button>
      </ion-toolbar>
    </ion-header>  
    <div style='position:absolute; top:125px; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: hidden' class="main" class="container">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
  </div>

<ion-menu-controller></ion-menu-controller>
