<!--<accordion class="accordian">
    <accordion-group heading="Protocolos" >
        <a [routerLink]="['/pages/newprotocol']" routerLinkActive="active">
            <ion-button class="button">Nuevo   Protocolo</ion-button> 
          </a>
          <a [routerLink]="['/pages/choose-protocol']" routerLinkActive="active">
              <ion-button class="button">Protocolo Existente</ion-button> 
            </a>
            <a [routerLink]="['/pages/report']" routerLinkActive="active">
                <ion-button class="button">Reportes</ion-button> 
              </a>
   
    </accordion-group>

        <accordion-group heading="Mi Cuenta" >
            <a [routerLink]="['/login']" routerLinkActive="active">
              <ion-button class="button" (click)="salir()">Salir de la cuenta</ion-button> 
              </a>
        </accordion-group>
        
          <accordion-group heading="Menu Principal" >
              <a [routerLink]="['/main']" routerLinkActive="active">
                <ion-button class="button" >Volver al Menu</ion-button> 
                </a>
          </accordion-group>
  </accordion>-->
  <div class="ion-page">
  <ion-header>
      <ion-toolbar color="primary" translucent>
          <ion-buttons slot="start">
              <ion-menu-toggle>
                <ion-button>
                  <ion-icon name="menu"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
            </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="medium">
      <ion-list color="medium">
        <ion-item color="medium">
          <ion-button fill="clear" color="light" href='/' routerLinkActive="active" router-direction="forward">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Menu Principal</ion-label>
        </ion-button>
        </ion-item>
        <ion-item *ngIf="privilege" color="medium">
        <ion-menu-toggle>
        <ion-button fill="clear" color="light" [routerLink]="['/pages/users']" rel routerLinkActive="active" router-direction="forward">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>Usuarios</ion-label>
        </ion-button>
      </ion-menu-toggle>
      </ion-item>
      <ion-item color="medium"> 
          <ion-menu-toggle>
        <ion-button fill="clear" color="light" [routerLink]="['/pages/report']" routerLinkActive="active" routerDirection="forward">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>Reportes</ion-label>
        </ion-button>
      </ion-menu-toggle>
      </ion-item>
      <ion-item color="medium">
        <ion-menu-toggle>
        <ion-button fill="clear" color="light" [routerLink]="['/pages/newprotocol']" routerLinkActive="active" routerDirection="forward">
          <ion-icon name="add-circle" slot="start"></ion-icon>
          <ion-label>Nuevo Protocolo</ion-label>
        </ion-button>
        </ion-menu-toggle>
          </ion-item>
          <ion-item color="medium">
            <ion-menu-toggle>
              <ion-button fill="clear" color="light" [routerLink]="['/pages/choose-protocol']" routerLinkActive="active" routerDirection="forward">
                <ion-icon name="create" slot="start"></ion-icon>
                <ion-label>Protocolos Existentes</ion-label>
              </ion-button>
            </ion-menu-toggle>
        </ion-item>
        <ion-item color="medium">
            <ion-button (click)="salir()" fill="clear" color="light" href='/' routerLinkActive="active" router-direction="forward">
              <ion-icon name="exit" slot="start"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-button>
      </ion-item>
      </ion-list>
    </ion-content>
  </div>
