<ion-content>
    <ion-header>
        <ion-toolbar color="secondary" translucent>
          <ion-title>Usuarios</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
      <div *ngFor="let user of users; let i = index">
        <ion-list color="light">
        <ion-item color="light"> 
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>{{user.username}}, {{user.email}}. id: {{user.id}}</ion-label>
            <label style="color : #333; margin-right: 150px" class="toggle-checkbox mr-4">
              <input style="color: #333" type="checkbox" id="toggle-button-checkbox"
              [checked]="user.is_staff" (click)="toggleAdmin(user)">
              Admin:
              <fa-icon [icon]="faToggleOn" size="lg" class="checked"></fa-icon>
              <fa-icon [icon]="faToggleOff" size="lg" class="unchecked"></fa-icon>
            </label>
            <label style="color : #333" class="toggle-checkbox">
              <input style="color: #333" type="checkbox" id="toggle-button-checkbox"
              [checked]="user.is_active" (click)="toggleActive(user)">
              Activo:
              <fa-icon [icon]="faToggleOn" size="lg" class="checked"></fa-icon>
              <fa-icon [icon]="faToggleOff" size="lg" class="unchecked"></fa-icon>
            </label>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
