<ion-content>
  <ion-header>
    <ion-toolbar color="secondary" translucent>
      <ion-title>Protocolos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div color="light">
    <div *ngFor="let protocol of protocols; let i = index">
      <ion-list color="light">
        <ion-item color="light">
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label>{{protocol.participant}}, {{protocol.start_date}}</ion-label>
          <ion-button *ngIf="!canDownload()" tooltip="editar" slot="end" (click)="chooseProtocol(protocol)"
            [routerLink]="['../subtests', protocol.id_protocol]" [queryParams]="{id: protocol.id_protocol}"
            routerLinkActive="active">
            Editar<ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button *ngIf="canDownload()" tooltip="editar" slot="end"
            (click)="downloadProtocol(protocol, protocol.participantObject)">
            Editar<ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!offline" tooltip="ver puntaje" slot="end"
            [routerLink]="['../subtests', protocol.id_protocol, 'score']" [queryParams]="{id: protocol.id_protocol}"
            routerLinkActive="active">
            Puntaje<ion-icon name="analytics"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  </ion-content>