<div class="container text-center main-form">
    <h1> <ion-button color="secondary" shape="round" class="enmu mainb" disabled>ENMU</ion-button> </h1>
        
    <nav><a routerLink="/pages/newprotocol" routerLinkActive="active" routerDirection="forward">Nuevo Protocolo</a></nav>     
    <nav><a routerLink="/pages/choose-protocol" routerLinkActive="active" routerDirection="forward">Protocolo Existente</a></nav>
    <nav><a routerLink="/pages/report" routerLinkActive="active" routerDirection="forward">Reportes</a></nav>
 </div>

