<ng-container *ngIf= "reports">
    <div class="container">
<ngx-datatable style="color: #cfd8dc" *ngIf= "reports" class="material" [rows]="reports"  [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [sorts]="[{prop: 'protocol', dir: 'desc'}]">
            <ngx-datatable-column name="protocol id" prop="id_protocol"></ngx-datatable-column>
            <ngx-datatable-column name="Test Admin" prop="Test_admin"></ngx-datatable-column>
            <ngx-datatable-column name="Test Admin ID" prop="Test_admin_id"></ngx-datatable-column>
            <ngx-datatable-column name="Case" prop="Case"></ngx-datatable-column>
            <ngx-datatable-column name="Participant ID" prop="Participant_id"></ngx-datatable-column>
            <ngx-datatable-column name="Group" prop="Group"></ngx-datatable-column>
            <ngx-datatable-column name="Age" prop="Age"></ngx-datatable-column>
            <ngx-datatable-column name="Gender" prop="Gender"></ngx-datatable-column>
            <ngx-datatable-column name="Schooling" prop="Schooling"></ngx-datatable-column>
            <ngx-datatable-column name="Education Level" prop="Education_level"></ngx-datatable-column>
            <ngx-datatable-column name="reading" prop="reading"></ngx-datatable-column>
            <ngx-datatable-column name="wl trial 1" prop="wl_trial_1"></ngx-datatable-column>
            <ngx-datatable-column name="wl trial 2" prop="wl_trial_2"></ngx-datatable-column>
            <ngx-datatable-column name="wl trial 3" prop="wl_trial_3"></ngx-datatable-column>
            <ngx-datatable-column name="wl trial 1-3" prop="wl_trial_123"></ngx-datatable-column>
            <ngx-datatable-column name="wl trial %" prop="wl_trial_123_perc"></ngx-datatable-column>
            <ngx-datatable-column name="delayed trial" prop="delayed_trial_score"></ngx-datatable-column>
            <ngx-datatable-column name="delayed trial %" prop="delayed_trial_perc"></ngx-datatable-column> 
            <ngx-datatable-column name="true positives" prop="true_positives"></ngx-datatable-column> 
            <ngx-datatable-column name="related false positives" prop="related_false_positives"></ngx-datatable-column>   
            <ngx-datatable-column name="unrelated false positives" prop="unrelated_false_positives"></ngx-datatable-column> 
            <ngx-datatable-column name="discrimination index" prop="discrimination_index"></ngx-datatable-column> 
            <ngx-datatable-column name="discrimination index" prop="discrimination_index_perc"></ngx-datatable-column> 
            <ngx-datatable-column name="flower hits immed." prop="flower_hits_immed"></ngx-datatable-column> 
            <ngx-datatable-column name="leaf hits immed." prop="leaf_hits_immed"></ngx-datatable-column> 
            <ngx-datatable-column name="hand hits immed." prop="hand_hits_immed"></ngx-datatable-column> 
            <ngx-datatable-column name="building hits immed." prop="building_hits_immed"></ngx-datatable-column> 
            <ngx-datatable-column name="total visual mem immed." prop="total_visual_mem_immed"></ngx-datatable-column>  
            <ngx-datatable-column name="visual mem immed. %" prop="visual_mem_immed_perc"></ngx-datatable-column> 
            <ngx-datatable-column name="leaf hits delayed" prop="leaf_hits_delayed"></ngx-datatable-column> 
            <ngx-datatable-column name="building hits delayed" prop="building_hits_delayed"></ngx-datatable-column> 
            <ngx-datatable-column name="total visual mem. delayed" prop="total_visual_mem_delayed"></ngx-datatable-column> 
            <ngx-datatable-column name="visual mem delayed %" prop="visual_mem_delayed_perc"></ngx-datatable-column>  
            <ngx-datatable-column name="arrows part 1" prop="arrows_part_1"></ngx-datatable-column>  
            <ngx-datatable-column name="arrows part 2" prop="arrows_part_2"></ngx-datatable-column> 
            <ngx-datatable-column name="total arrows" prop="total_arrows"></ngx-datatable-column>
            <ngx-datatable-column name="total arrows %" prop="total_arrows_perc"></ngx-datatable-column>
            <ngx-datatable-column name="purchased items" prop="purchased_items"></ngx-datatable-column>
            <ngx-datatable-column name="purchased items score" prop="purchased_items_score"></ngx-datatable-column>  
            <ngx-datatable-column name="blocks travelled" prop="blocks_travelled"></ngx-datatable-column> 
            <ngx-datatable-column name="blocks score" prop="blocks_score"></ngx-datatable-column> 
            <ngx-datatable-column name="saved coins" prop="saved_coins"></ngx-datatable-column> 
            <ngx-datatable-column name="exceeded coins" prop="exceeded_coins"></ngx-datatable-column> 
            <ngx-datatable-column name="coins score" prop="coins_score"></ngx-datatable-column> 
            <ngx-datatable-column name="total party" prop="total_party"></ngx-datatable-column> 
            <ngx-datatable-column name="party %" prop="party_perc"></ngx-datatable-column> 
            <ngx-datatable-column name="points & lines 1" prop="points_lines_1"></ngx-datatable-column> 
            <ngx-datatable-column name="points & lines 2" prop="points_lines_2"></ngx-datatable-column> 
            <ngx-datatable-column name="points & lines 3" prop="points_lines_3"></ngx-datatable-column> 
            <ngx-datatable-column name="points & lines 4" prop="points_lines_4"></ngx-datatable-column> 
            <ngx-datatable-column name="points & lines total" prop="total_points_lines"></ngx-datatable-column> 
            <ngx-datatable-column name="points & lines %" prop="points_lines_perc"></ngx-datatable-column> 
            <ngx-datatable-column name="personage spontaneous" prop="le_personage_spontaneous"></ngx-datatable-column> 
            <ngx-datatable-column name="personage cues" prop="le_personage_cues"></ngx-datatable-column> 
            <ngx-datatable-column name="total personage" prop="total_personage"></ngx-datatable-column> 
            <ngx-datatable-column name="personage %" prop="personage_perc"></ngx-datatable-column> 
            <ngx-datatable-column name="total animals" prop="total_animals"></ngx-datatable-column>  
            <ngx-datatable-column name="animals %" prop="animals_perc"></ngx-datatable-column>
            <ngx-datatable-column name="total" prop="total_score"></ngx-datatable-column>
            <ngx-datatable-column name="total %" prop="total_score_percent"></ngx-datatable-column>
            <ngx-datatable-column name="mean" prop="total_score_mean"></ngx-datatable-column>            
          </ngx-datatable>
          <br><br>
                <ion-button color="secondary"(click)="export()">Exportar<ion-icon name="download"></ion-icon></ion-button> 
        </div>
          </ng-container>
