/*import icons*/

/* Global Styles */
h1 {
    color: rgb(150, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #F5FFFA;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    display: table;
    color: #F5FFFA;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  input[text] {
    color: #333;
    font-family: Cambria, Georgia;
  }
  input {
    font-size: 18px !important;
  }
  a {
    cursor: pointer;
    cursor: hand;
  }
  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  .btn {
    color: #333;
  }
  
  #button-basic {
    margin-top: 12px;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  button.enmu {
    color:#607D8B;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #607D8B;
    border-radius: 16px;
}
button.enmu.mainb {
  color: rgb(150, 91, 91);
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #607D8B;
  border-radius: 16px;
}
  
  /* Navigation link styles */
  nav a {
    width: 150px;
    padding: 5px 5px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }

.accordian {
  align-content: center;
  padding: 10px;
}

.main{
  height: 100%;
  width: 100%;
}

.card{
  justify-items: auto;
  }

.card .button {
  margin: 2px;
  min-width: 90px;
}
  
.toggle-checkbox:hover {
  cursor: pointer;
}
.toggle-checkbox input[type="checkbox"],
.toggle-checkbox .checked {
   display: none;
}
.toggle-checkbox input[type="checkbox"]:checked ~ .checked
{
   display: inline-block;
}

.toggle-checkbox input[type="checkbox"]:checked ~ .unchecked
{
   display: none;
}
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
