<div *ngIf="currentSubtest" class="container">
  <h3 style="color: #cfd8dc">{{currentSubtest.description}}</h3>
  <ion-button *ngIf="subtestIndex > getSubtestIndexBaseline()" color="medium" (click)="showPreviousSubtest()">
    {{translations[language].Anterior}}
  </ion-button>
  <ion-button *ngIf="subtestIndex < subtests.length + (getSubtestIndexBaseline() - 1)" color="medium" (click)="showNextSubtest()">
    {{translations[language].Siguiente}}
  </ion-button>
  <a>
    <ion-button (click)="score()" color="secondary">{{translations[language].Finalizar}}</ion-button>
  </a>
  <div class="btn-group" dropdown>
    <ion-button color="secondary" id="button-basic" dropdownToggle type="button" class="dropdown-toggle"
      aria-controls="dropdown-basic">
      {{translations[language].ElegirSubtest}} <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dMenu" role="menu" aria-labelledby="button-basic">
      <div *ngFor="let subtest of subtests; let i = index">
        <li role="menuitem" class="dItem"><a (click)="showSubtest(i + (getSubtestIndexBaseline() - 1))">{{subtest.description}}</a> </li>
        <li class="divider dropdown-divider"></li>
      </div>
    </ul>
  </div>
  <ng-container *ngIf="subtestAttributes">
    <div class="subtests">
      <div class="row">
        <div *ngFor="let attribute of subtestAttributes; let i = index">
          <div class="d-flex flex-column">
            <div class="col-lg-4 col-md-4 d-flex" style="padding: 0px">
              <div style="color: #cfd8dc">{{attribute.description}}</div>
              <div *ngFor="let question of attributeQuestions[i]; let j = index">
                <div id="question" class="d-inline-flex justify-content-between"
                  [ngClass]="{'selected-question': question === selectQuestion}">
                  <a (click)="SelectQuestion(question)"><span class="badge">{{ question.description || -1 }}</span></a>
                  <span *ngIf="question.correct_answer">
                    <label class="answer-checkbox"
                      *ngIf="question.id_attribute !== 7  && question.id_attribute !== 17 && question.id_attribute !== 8 && question.id_attribute !== 18 && question.id_attribute !== 16">
                      <ion-toggle color="success" id="correct" [checked]="question.correct"
                        (ionChange)="simpleToggle(question, $event.detail)"></ion-toggle>
                    </label>
                  </span>
                  <a (click)="SelectQuestion(question)">
                    <span>
                      <label class="answer-checkbox"
                        *ngIf="question.id_attribute === 7  || question.id_attribute === 17 || question.id_attribute === 8 || question.id_attribute === 18|| question.id_attribute === 16">
                        <ion-toggle color="success" id="correct" [checked]="checked(question)" (ionChange)="simpleToggle(question, $event.detail)"></ion-toggle>
                      </label>
                    </span>
                    <span
                      [ngClass]="{'wrong-answer': question.answer !== question.correct_answer && question.correct_answer && question.answer}"
                      *ngIf="question!==selectQuestion && question.id_attribute !== 7 && question.id_attribute !== 8 && question.id_attribute !== 16 && question.id_attribute !== 17 && question.id_attribute !== 18">{{ question.answer || question.correct_answer }}</span>
                    <span class="true"
                      *ngIf="(question.id_attribute === 7  || question.id_attribute === 17 || question.id_attribute === 8 || question.id_attribute === 18 || question.id_attribute === 16) && question.correct_answer === '1'"></span>
                    <span class="false"
                      *ngIf="(question.id_attribute === 7  || question.id_attribute === 17 || question.id_attribute === 8 || question.id_attribute === 18 || question.id_attribute === 16) && question.correct_answer === '0'"></span>
                    <span
                      *ngIf="(question.id_attribute === 7  || question.id_attribute === 17 || question.id_attribute === 8 || question.id_attribute === 18 || question.id_attribute === 16) && question.correct_answer != '0' && question.correct_answer != '1'">{{ question.correct_answer }}</span>
                    <input
                      *ngIf="question.id_attribute!== 15 && question===selectQuestion && question.id_attribute !== 7 && question.id_attribute !== 8 && question.id_attribute !== 17 && question.id_attribute !== 18 && question.id_attribute !== 16"
                      [(ngModel)]="question.answer" #myAnswer autofocus (blur)="process(myAnswer.value)"
                      (keyup.enter)="enter(myAnswer.value)" (keydown.tab)="tabDown($event)"
                      (keyup.tab)="tabUp($event, myAnswer.value)"
                      [readonly]="!editing">
                    <span *ngIf="question.id_attribute === 15">
                      <input *ngIf="question===selectQuestion" [(ngModel)]="question.answer" #myAnswer autofocus
                        id="typeahead-basic" type="text" [ngbTypeahead]="search" (blur)="process(myAnswer.value)"
                        (keyup.enter)="enter(myAnswer.value)" (keydown.tab)="tabDown($event)"
                        (keyup.tab)="tabUp($event, myAnswer.value)" [readonly]="!editing">
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="attribute.id_attribute === 7" class="col-lg-4 col-md-4">
            <img src="../../assets/flor.png" style="margin-top:125px;">
            <hr />
            <img src="../../assets/hoja.png">
            <hr />
            <img src="../../assets/Mano.png" class="mano">
            <hr />
            <img src="../../assets/Edificio.png" style="margin-top:220px;">
          </div>
          <div *ngIf="attribute.id_attribute === 8" class="col-lg-4 col-md-4">
            <img src="../../assets/hoja.png" style="margin-top:50px;">
            <hr />
            <img src="../../assets/Edificio.png" style="margin-top:125px;">
          </div>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
  </ng-container>
</div>