.dMenu {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 17em;
}
.dMenu li a {
  cursor: pointer;
  position: relative;
  left: .3em;
  color: #888;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.dItem:hover {
  color: #607D8B;
  background-color: #DDD;
  padding: .3em 0;
}

.subtests {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
  }
  .subtests li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    width: 5em;
  }
  
  .subtests li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1 em;
  }
  
  .subtests a {
    color: #EEE;
  }

  .subtests #question {
    position: relative;
    display: block;
    max-width: 450px;
    margin: 0.5em;
  }
  
  .subtests a:hover {
    color:#FFF;
    text-decoration: none;
  }
  
  .subtests .badge {
    display: inline-block;
    font-size: small;
    color: #333;
    padding: 0.8em 0.7em 0.5em 0.7em;
    background-color: #f4f5f8;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.3em;
    min-width: 33px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .button {
    border: 3px;
    height: 2.4em;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  .button.one {
    background-color: gray;
    padding: 5px 5px;
  }

  .button.two {
    background-color: rgb(150, 91, 91);
    padding: 5px 25px;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 24em;
    top: -32px;
    background-color: gray !important;
    color: white;
    display: inherit;
    padding: 5px 8px;
    width: 2em;
  }

  ion-toggle {
    position: relative;
    bottom: -12px;
  }
  
  input {
    color: #333;
    font-size: 100%;
    margin-bottom: 2px;
    width: 80px;
  }
  
  .subtests input {
    top: -3px;
  }

  .answer-checkbox {
    color: #f2dede;
    font-size: 16px;
    margin: 10px;
  }
  .answer-checkbox :hover {
    color: #9bc4b3;
    cursor: pointer;
  }

 .answer-checkbox input[type="checkbox"],
 .answer-checkbox .checked {
      display: none;
    }
  .answer-checkbox input[type="checkbox"]:checked ~ .checked
  {   
    color : #dff0d8;
    display: inline-block;
 }
  
 .answer-checkbox input[type="checkbox"]:checked ~ .unchecked
 {
     display: none;
 }

 .true {
   background: #262626;
   padding-right: 30px;
   border: 3px solid #607D8B;
 }

 .false {
  background: #fff;
  padding-right: 30px;
  border: 3px solid #607D8B;
}

.selected-question {
  border-bottom: 3px solid rgb(150, 91, 91);
}

.wrong-answer {
  text-decoration: line-through;
}

.dropdown-item{
  background-color: rgb(17, 86, 204);
  color: #FFF;
  border-radius: 4px;
  margin : 2px;
}

hr {
  margin-left: -500px;
  margin-right: -500px;
  margin-top: 45px;
  border: 0;
  border-top: 3px solid #c9c7c7;
}

.mano {
  margin-top:200px; 
  margin-bottom: 200px;
}

@media (min-width: 1200px) { 
  hr {
    margin-top: 25px;
  }
} 

@media (min-width: 1200px) { 
  .mano {
    margin-top:175px; 
    margin-bottom: 175px;
  }
} 