.button {
    border: 3px;
    height: 2.4em;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }

  button:hover {
    background-color: #cfd8dc;
  }
  
  .button.one {
    background-color: gray;
    padding: 5px 5px;
  }

  .button.two {
    background-color: rgb(150, 91, 91);
    padding: 5px 25px;
  }