input[type = text], input[type = password] { 
    width: 40%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #B3A9A9; 
    box-sizing: border-box; 
 } 
 input[type = submit] { 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #B3A9A9; 
    box-sizing: border-box; 
 }
.participant-checkbox:hover {
   cursor: pointer;
}
.participant-checkbox input[type="checkbox"],
.participant-checkbox .checked {
    display: none;
}
.participant-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.participant-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

 button {
   font-family: Arial;
   background-color: #eee;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   cursor: hand;
 }
 button:hover {
   background-color: #cfd8dc;
 }
 button:disabled {
   background-color: #eee;
   color: #aaa;
   cursor: auto;
 }